<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{site_title}} - 404</title>
  {{common_head}}
</head>
<body>
  <header role="banner" id="post-head">
    <div class="container">
      <a href="/" class="logo"><img src="/img/logo@2x.png" alt="Logo" /></a>
    </div>
  </header>

  <section role="main" class="container">
    <article>
      <header>
        <h2>404! This page doesn't exist</h2>
      </header>
      <section class="content">
        <p><strong>[ig-zist]</strong></p>
        <p><i>–verb (used without object)</i></p>
        <ol>
           <li>to have actual being; be: The world exists, whether you like it or not.</li>
           <li>to have life or animation; live.</li>
           <li>to continue to be or live: Belief in magic still exists.</li>
        </ol>
      </section>
    </article>
  </section>

  <footer id="footer">
    <section class="container">
      <p>Powered by <a href="https://github.com/an0/letterpress">Letterpress</a>.</p>
    </section>
  </footer>
</body>
</html>
