<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="robots" content="index, follow">
<meta name="description" content="Ling Wang's blog." />
<meta name="keywords" content="Annotable, Moke, Tweeet, Voodo, iOS, iPhone, iPad, app, OS X, Mac, Apple" />
<meta name="author" content="Ling Wang" />

<link rel="shortcut icon" href="/favicon.png" />
<link rel="alternate" type="application/rss+xml" href="/feed.xml" />

<link rel="stylesheet" href="/css/default.css" />
<link rel="stylesheet" href="/css/animations.css" />
