<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>Wangling - {{title}}</title>
	
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="index, follow">
  <meta name="description" content="Ling Wang's blog." />
  <meta name="keywords" content="Moke, Voodo, iOS, iPhone, iPad, app, OS X, Mac, Apple" />
  <meta name="author" content="Ling Wang" />

	<link rel="shortcut icon" href="/favicon.png" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed" />

	<link rel="stylesheet" href="/css/default.css" />
	<link rel="stylesheet" href="/css/animations.css" />
</head>
<body>
  <header role="banner" id="post-head">
    <div class="container">
      <a href="/" class="logo"><img src="/img/logo@2x.png" alt="Logo" /></a>
    </div>
  </header>

  <section role="main" class="container">
	  <article>
	    <header>
		    <p class="meta" id="time"><time datetime="{{date}}"><a href="{{monthly_archive_url}}">{{month}}</a> {{day}}, {{year}}</time></p>
	      <h1>{{title}}</h1>
	    </header>
	    <section class="content">
	      {{content}}
	    </section>
	    <footer role="contentinfo" class="post-foot">
	      <section class="post-foot-top">
	 		    <p class="meta" id="tags">{{tags}}</p>
	        <wb:share-button addition="number" type="button" ralateUid="1676354212" picture_search="false" title="{{title}}：{{excerpt}}"></wb:share-button>
	      </section>
	      <section class="bio">
	        <a class="author-image" href="/"><img src="/img/me.jpg" alt="Me" /></a>
	        <h5><a class="author-name" href="/">Wang Ling</a></h5>
	        <p>I'm Ling Wang, iOS developer, creator of <a href="http://moke.com/moke">Moke</a> and <a href="http://iwonderphone.com">Voodo</a>.</p>
	        <ul>
	          <li>
	            <a href="http://twitter.com/an0">Twitter</a>
	          </li>
						<li>
						  <a href="http://github.com/an0">GitHub</a>
						</li>
	          <li>
	            <a href="http://weibo.com/an00na">微博</a>
	          </li>
	        </ul>
	      </section>
	    </footer>
	  </article>  
  </section>
    
  <footer id="footer">
    <section class="container">
      <p>Powered by <a href="https://github.com/an0/Letterpress">Letterpress</a>.</p>
    </section>
  </footer>

  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" charset="utf-8"></script>
</body>
</html>
