markdown_ext: .md
title: Wangling
description: I'm Wang Ling. I'm wangling you.
base_url: http://wangling.me
site_dir: /srv/www/wangling.me/public_html/
# Refer to http://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
date_format: %m/%d/%Y
posts_per_page: 10
math_delimiter: $